@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Ubuntu+Mono:wght@400;700&display=swap');

.home-body{
  display: flex;
  justify-content: center;
  overflow: hidden;
}
 
.home-wrapper{
  width: 60rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-pfp{
  height: 16rem;
  width: 16rem;
  background: url("/src/assets/imgs/pfp.JPG");

  background-position: 40% 50%;
  background-size: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-top: 2rem;
  border-bottom: solid 8px var(--accent-color);
  border-right: solid 4px #000;
  border-left: solid 4px #000;
  border-top: solid 2px var(--accent-color);
}

section{
  margin-top: 5rem;
}

.hero{
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.hero-txt-wrapper{
  width: 30rem;
  margin-left: 3rem;
}

.hero-txt-wrapper h1{
  font-size: 3rem;
}

.hero-txt-wrapper p{
  margin-top: 2rem;
  font-size: 2rem;
}

.word-rap{
  color: rgb(0, 179, 255);
  font-size: 3rem;
  font-family: "Rap";
}

.word-hist{
  color: rgb(231, 252, 0);
  font-weight: 600;
  font-size: 2.2rem;
}

.word-frnt{
  font-family: 'Ubuntu Mono', monospace;
  color: rgb(0, 255, 166);
  font-weight: 600;
  font-size: 2.4rem;
}

@font-face {
  font-family: "Rap";
  src: url("/src/assets/fonts/Chomsky.otf");
}

.graphs{
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.graph{
  border-radius: 10px;
  height: 15rem;
  width: 15rem;
  background: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 2.2rem;
  cursor: pointer;
  text-decoration: none;
  transition: .2s;
  border-bottom: solid 8px #3e3e3e;
  border-right: solid 4px #3e3e3e;
  border-left: solid 4px #3e3e3e;
  border-top: solid 1px #3e3e3e;
}

.graph-icon{
  font-size: 8rem;
  margin-bottom: 1rem;
}

.graph:nth-of-type(1){
  color: var(--accent-color);
  font-family: 'Ubuntu Mono', monospace;
}

.graph:nth-of-type(1):hover{
  background: rgb(0, 53, 40);
}

.graph:nth-of-type(2):hover{
  background: rgb(0, 45, 65);
}

.graph:nth-of-type(3):hover{
  background: rgb(65, 71, 0);
}

.graph:nth-of-type(2) {
  color: rgb(0, 179, 255);
  font-family: Rap;
  font-size: 2.4rem;
}

.graph:nth-of-type(3) {
  color: rgb(231, 252, 0);
}

.tech-stack{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 22rem;
}

.ts-wrapper{
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.s-ts-wrapper, .s-ss-wrapper {
  text-align: center;
  font-family: 'Ubuntu Mono', monospace;
  padding: 1rem;
  height: 26rem;
  background: #1f1f1fd8;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border-bottom: solid 8px #3e3e3e;
  border-right: solid 4px #3e3e3e;
  border-left: solid 4px #3e3e3e;
  border-top: solid 1px #3e3e3e;
}

.s-ts-wrapper h1{
  font-size: 2.4rem;
}

.s-ss-wrapper h1{
  font-size: 2.4rem;
}

li{
  font-size: 1.4rem;
  transition: .1s;
  line-height: 3rem;
  cursor: crosshair;
  list-style-type: none;
}

.s-ts-wrapper li:nth-of-type(1){
  color: orange;
}

.s-ts-wrapper li:nth-of-type(2){
  color: yellow;
}

.s-ts-wrapper li:nth-of-type(3){
  color: rgb(0, 149, 255);
}

.s-ts-wrapper li:nth-of-type(4){
  color: var(--accent-color);
}

.s-ts-wrapper li:nth-of-type(5){
  color: rgb(0, 200, 255);
}

.s-ts-wrapper li:nth-of-type(6){
  color: rgb(255, 0, 221);
}

.s-ts-wrapper li:nth-of-type(7){
  color: greenyellow;
}

.s-ss-wrapper li{
  color: var(--accent-color);
}

.s-ts-wrapper li:hover{
  font-size: 1.8rem;
}

.s-ss-wrapper li:hover{
  font-size: 1.8rem;
}

.rap h1{
  font-size: 2.4rem;
  margin-top: 2rem;
}

.rap{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rap-wrapper{
  margin-top: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  justify-items: center;
}

.rapper{
  margin-top: 2rem;
  height: 25rem;
  width: 18rem;
  background: rgb(82, 82, 82);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 8px #3e3e3e;
  border-right: solid 4px #3e3e3e;
  border-left: solid 4px #3e3e3e;
  border-top: solid 1px #3e3e3e;
  border-radius: 10px;
  transition: .2s;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  /* position: absolute; */
}

.rapper span{
  height: 100%;
  width: 100%;
  background: #0000009c;
  opacity: 0;
  transition: .2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rapper:hover span{
  opacity: 1;
  font-size: 2rem;
}

.em{
  background: url("/src/assets/imgs/eminem.jpg");
  background-position: 100% 20%;
  background-size: cover;
}

.cole{
  background: url("/src/assets/imgs/cole.jpg");
  background-position: center;
  background-size: cover;
}

.kdot{
  background: url("/src/assets/imgs/kdot.jpg");
  background-position: 100% 100%;
  background-size: cover;
}

.nf{
  background: url("/src/assets/imgs/nf.jpg");
  background-position: center;
  background-size: cover;
}

.jid{
  background: url("/src/assets/imgs/jid.jpg");
  background-position: 60% 10%;
  background-size: 150%;
}

.pac{
  background: url("/src/assets/imgs/tupac.webp");
  background-position: center;
  background-size: cover;
}

.history{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.history h1{
  font-size: 3rem;
  margin-top: 3rem;
}

.meme{
  height: 30rem;
  width: 30rem;
  margin-top: 3rem;
  background: url("/src/assets/imgs/meme.jpg");
  background-position: center;
  background-size: 112%;
  border-radius: 20px;
  border: solid 2px yellow;
  border-radius: 20px;
  border-bottom: solid 8px #3e3e3e;
  border-right: solid 4px #3e3e3e;
  border-left: solid 4px #3e3e3e;
  border-top: solid 1px #3e3e3e;
}

.history-wrapper{
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
}

.hist-title{
  height: 20rem;
  width: 20rem;
  background: gray;
  margin-top: 3rem;
  overflow: hidden;
  border-radius: 10px;
}

.hist-pic{
  height: 100%;
  background: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: .2s;
  border-radius: 10px;
  border-bottom: solid 8px #3e3e3e;
  border-right: solid 4px #3e3e3e;
  border-left: solid 4px #3e3e3e;
  border-top: solid 1px #3e3e3e;
}

a{
  text-decoration: none;
}

.hist-pic p{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  height: 100%;
  width: 100%;
  background: #0000009c;
  opacity: 0;
  transition: .2s;
}

.hist-pic:hover p{
  opacity: 1;
  font-size: 1.4rem;
}

.hist-pic:hover{
  transform: scale(1.5);
}

.truce{
  background: url("/src/assets/imgs/history-truce.avif");
  background-position: center;
  background-size: cover;
}

.ww1{
  background: url("/src/assets/imgs/history-ww1.webp");
  background-position: 100%;
  background-size: cover;
}


@media ( width < 450px ){
  .hero{
    flex-direction: column;
  }

  .graphs{
    flex-direction: column;
    align-items: center;
  }

  .graph{
    margin-top: 1rem;
  }

  .ts-wrapper{
    flex-direction: column;
    margin-top: 18rem;
  }

  .s-ts-wrapper{
    height: 28rem;
  }

  .s-ts-wrapper, .s-ss-wrapper{
    margin-top: 1.5rem;
  }

  .rap-wrapper{
    grid-template-columns: 1fr 1fr;
  }

  .rap{
    margin-top: 18rem;
  }

  .rapper{
    height: 14rem;
    width: 11rem;
  }

  .kdot{
    background-position: 100% 100%;
    background-size: 100%;
  }

  .pac, .jid{
    display: none;
  }


  section{
    margin-top: 6rem;
  }  

  h1{
    margin-top: 2rem;
  }

  .home-wrapper{
    width: 30rem;
  }

  .hero-txt-wrapper{
    width: 100%;
    margin-left: 0;
  }

  .history-wrapper{
    grid-template-columns: 1fr;
  }

  .meme{
    height: 22rem;
    width: 22rem;
  }

  .rap h1{
    margin-top: 10rem;
  }

}

@media ( 450px < width < 1080px ){
  .rap-wrapper{
    grid-template-columns: 1fr 1fr;
    width: 68%;
  }

  .graphs{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .graph:nth-of-type(3){
    grid-column: 2;
    grid-row: 2;
  }

  .graph:nth-of-type(2){
    grid-column: 3;
    grid-row: 1;
  }

  .hero{
    flex-direction: column;
  }
}