.footer-body{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 20rem;
  z-index: 10;
  height: 3rem;
  margin-top: calc(100dvh - 3rem);
  background-color: #1f1f1fd8;
  /* border: solid 2px var(--accent-color);
  box-shadow: 0 0 4px var(--accent-color); */
  overflow: hidden;
  backdrop-filter: blur(10px);
  border: solid 3px #3e3e3e;
  border-radius: 10px 10px 0 0;
  border-bottom: none;
}

.footer-icon{
  font-size: 2rem;
  fill: rgb(140, 140, 140);
  margin-left: 1rem;
  transition: .2s;
}

.footer-icon:hover{
  fill: #fff;
}

.frst{
  margin-left: 0;
}

@media (width > 450px) {
  .footer-body{
  }
}

@media (width < 450px) {
  .footer-body{
    display: none;
  }

  .footer-body.active{
    display: flex;
    background: transparent;
  }
  .footer-icon{
    font-size: 2rem;
    fill: #1f1f1f;
    margin-left: 1rem;
    transition: .2s;
  }
}
